<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <display-name>Couriorservice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>viewservlet</display-name>
    <servlet-name>viewservlet</servlet-name>
    <servlet-class>viewservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewservlet</servlet-name>
    <url-pattern>/viewservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteservelet</display-name>
    <servlet-name>deleteservelet</servlet-name>
    <servlet-class>deleteservelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteservelet</servlet-name>
    <url-pattern>/deleteservelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchservlet</display-name>
    <servlet-name>searchservlet</servlet-name>
    <servlet-class>searchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchservlet</servlet-name>
    <url-pattern>/searchservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchServlet</display-name>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>messageservlet</display-name>
    <servlet-name>messageservlet</servlet-name>
    <servlet-class>messageservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageservlet</servlet-name>
    <url-pattern>/messageservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewdelivery</display-name>
    <servlet-name>viewdelivery</servlet-name>
    <servlet-class>viewdelivery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewdelivery</servlet-name>
    <url-pattern>/viewdelivery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletedeliveryman</display-name>
    <servlet-name>Deletedeliveryman</servlet-name>
    <servlet-class>Deletedeliveryman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletedeliveryman</servlet-name>
    <url-pattern>/Deletedeliveryman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>App</display-name>
    <servlet-name>App</servlet-name>
    <servlet-class>App</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>App</servlet-name>
    <url-pattern>/App</url-pattern>
  </servlet-mapping>
</web-app>